[submodule "submodules/glm"]
	path = submodules/glm
	url = https://github.com/g-truc/glm.git
[submodule "submodules/jolt"]
	path = submodules/jolt
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "submodules/imguizmo"]
	path = submodules/imguizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "submodules/freetype"]
	path = submodules/freetype
	url = https://github.com/freetype/freetype.git
[submodule "submodules/stb"]
	path = submodules/stb
	url = https://github.com/nothings/stb.git
[submodule "submodules/ufbx"]
	path = submodules/ufbx
	url = https://github.com/ufbx/ufbx.git
[submodule "submodules/json"]
	path = submodules/json
	url = https://github.com/nlohmann/json.git
[submodule "submodules/imgui"]
	path = submodules/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "submodules/vk-bootstrap"]
	path = submodules/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap.git
[submodule "submodules/googletest"]
	path = submodules/googletest
	url = https://github.com/google/googletest.git
[submodule "submodules/SDL"]
	path = submodules/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "submodules/miniaudio"]
	path = submodules/miniaudio
	url = https://github.com/mackron/miniaudio
